<h1>Cocktail Page</h1>

<% @cocktails.each do |cocktail| %>


       <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
       <% end %>

<br>

 <%= link_to "Add new Cocktail", 'cocktails/new' %>
