<div class="container">
  <div class="banner">
    <h1>Cocktail Page</h1>
  </div>

  <div class="list">
    <% @cocktails.each do |cocktail| %>
        <li class="list_link_style"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </div>


   <%= link_to "Add new Cocktail", 'cocktails/new' %>
</div>

<%= cl_image_tag("qmgaposm5q9pc2luunxl",
      width: 400, height: 300, crop: :fill) %>
