<div class="container">
  <h1>Add new Dose</h1>
  <p>fill in this great form pls...</p>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient  %>

    <%= f.input :description, label: 'description' %>
    <%= f.submit "add a Dose", class: "btn btn-warning" %>
  <% end %>
</div>
