.list {
  list-style: none;
  list-align: center;
  text-align: center;
  padding: 20px;
  margin: 30px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  border-radius: .5%;

}

.list_link_style {
  text-decoration: none;

  font-size: 20px;
  opacity: 0.8;
  color: #3c3d4d;

}
